::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--hover);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border);
}

